
<div class="container">
    <div class="journey">
      <h2 class="heading">Our Journey.</h2>
      <hr class="style15"><br>
      <p class="main-des">We had this idea for a blood donation app from 2017 beginning itself. We were engaged in deep thoughts why there isn’t an efficient mechanism yet for blood donation despite so many other brilliant ideas and apps developed by techies in Kerala. We decided to carry out the task ourselves and started a little bit of research on the topic.</p>
      <p class="main-des">Luckily for us, we had to do a Design Project in our 5th semester and our Professor Manoj Kumar Sir allowed us to take this as our project topic. We studied many existing apps and other methods of reaching out to Donors currently existing in our society and found out many drawbacks. We wondered why there is still an acute shortage for donors in case of an emergency. Out of all the issues, we identified a common problem, “the need to submit our personal information and mobile number to strangers”. This is the main reason holding out many women from blood donation. With half of the population not active in it, we cannot expect the easy availability of blood.</p>
      <p class="main-des">We began thinking of a better mode of operation which ensures privacy. Just send the donors a notification when there is a need for blood. We started building and LIFE was born! We submitted the initial version of the app for the Design Project. Our Professor really liked the app and he encouraged us to continue with the work and get it to the market. We started working on the final version and completed it within 2 months. We contacted the IMA Blood Bank near our college, Government Medical College, Thrissur and District Hospital, Thrissur seeking their support and to ensure they will use our app for making requests.  Blood Donors Kerala (BDK) also extended support.</p>
      <p class="main-des">As a first step, we are starting in Thrissur alone and we are working on expanding to all Kerala very soon.</p>
      <br>
      <h2 class="line-team"><span  class="line-center">The Team</span></h2>
    </div>  
      <div class="row">
    
        <div class="col-sm-3 jlk  rounded" align="center"><br>
          <img src="../../assets/img/jlk.jpg" alt="JLK" class="devimg rounded-circle" data-toggle="tooltip" data-placement="top" title="Life App Developer"><br><br>
          <h4>JITHIN LAL K</h4><br>
          <span class="about-des">Android App Developer</span>
          <hr class="fade_rule"> 
        </div>
    
        <div class="col-sm-3 jashi rounded" align="center"><br>
          <img src="../../assets/img/me.jpeg" alt="Jashi" class="devimg rounded-circle" data-toggle="tooltip" data-placement="top" title="Web App Developer"><br><br>
          <h4>JASHIM GAFOOR K K</h4><br>
          <span class="about-des">Web App Developer</span>
          <hr class="fade_rule">
        </div>
    
        <div class="col-sm-3 hari rounded" align="center"><br>
          <img src="../../assets/img/hari.jpg" alt="Hari" class="devimg rounded-circle" data-toggle="tooltip" data-placement="top" title="Publicity"><br><br>
          <h4>HARIKRISHNAN R</h4><br>
          <span class="about-des">Publicity</span>
          <hr class="fade_rule">
        </div>
    
        <div class="col-sm-3 ajay rounded" align="center"><br>
          <img src="../../assets/img/2ajay.jpg" alt="Ajay" class="devimg rounded-circle" data-toggle="tooltip" data-placement="top" title="Documentation"><br><br>
          <h4>AJAY T SIVAPRASAD</h4><br>
          <span class="about-des">Documentation</span>
          <hr class="fade_rule">  
        </div>
    
      </div>
    </div>
    <br><br>
  