.topjumbo {
    background-color: #262725  !important; 
    height: 210px;
    border-radius: 0px !important;
}
.life-icon{
    height: 85px;
    width: 85px;
    vertical-align: middle;
}
#life{
    font-family: 'Lora', serif;
    color: #00B0FF;
    font-size: 50px;
}
#lifesub{
    color:red;
    font-size: 15px;
    font-family: 'Macondo', cursive;
}
.main{
    text-align: center;
}
.col-sm-3 h3{
    color:black  ;
    font-family: 'Josefin Sans', sans-serif;
}
.col-sm-3 p{
    font-family:'Source Sans Pro', sans-serif;
    background-color:white  ;
    padding-bottom: 20px;
}

.devimg{
  width: 150px;
  height: 150px;  
}
.basenav{
    background-color: #262725;
    height: 35px;
}
.nav-link{
    color: white;
    outline: none;
    font-family: 'Oswald', sans-serif;
}
#copyright{
    color:  #c1cfb4 ;
    font-size: 12px;
}

.fb,.tweet{
    color: blue;
    margin-right: 25px;
}
.insta,.utube{
    color: red;
    margin-right: 25px;
}

.btn{
 height: 35px;
 background-color: #262725;
 outline: none;
 color: white;
 font-family: 'Oswald', sans-serif;   
}
.btn:hover{
    color: blueviolet;
}
.btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none !important;
}
.pp{
    font-family: 'Source Sans Pro', sans-serif;
}

.about-des{
    font-size: 18px;
    font-family: 'Bellefair', serif;
}

  hr.style15 {
	border-top: 4px double #8c8b8b;
	text-align: center;
}
hr.style15:after {
	content: '\002665';
	display: inline-block;
	position: relative;
	top: -15px;
	padding: 0 10px;
	background: #f0f0f0;
	color: #8c8b8b;
	font-size: 18px;
}
.heading{
    font-family: 'Patua One', cursive;
}  
.main-des{
    font-family: 'Lora', serif;
    font-size: 16px;
}
.journey{
    text-align: center;
}
.line-center{
    margin:0;padding:0 10px;
    background:#fff;
    display:inline-block;
    font-family: 'Patua One', cursive;
}
.line-team{
    
    text-align:center;
    position:relative;
    z-index:2;
    
}
.line-team:after{
    content:"";
    position:absolute;
    top:50%;
    left:0;
    right:0;
    border-top:solid 1px red;
    z-index:-1;
}
hr.style14 { 
    border: 0; 
    height: 1px; 
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
  }
  