<div class="container main">
      
  <div class="card">
    <h2 class="card-header heading">Why Life ?</h2>
      <div class="card-body">
        <p class="card-text main-des">Our country is facing a great shortage of blood banks. There aren’t enough blood banks in our country to meet the needs. Because of this, roughly around 38,000 donations need to be made every single day. There is a great difficulty in getting donors in emergency cases.</p>
      </div>
  </div>  
  <br>
  <div class="card">
    <h2 class="card-header heading">Our Aim.</h2>
      <div class="card-body">
        <p class="card-text main-des">Our app LIFE mainly aims at eliminating the delay in getting a donor and bridging the communication gap between donors and the needy. The instant notification system will inform every user simultaneously and thus a donor can be found very easily.</p>
      </div>
  </div>
  <br>
  <div class="card">
    <h2 class="card-header heading">Why we are different from other apps ?</h2>
      <div class="card-body">
        <p class="card-text main-des">The main highlight and what differentiates from many other existing apps in Play Store is that we don’t need donors to submit any of their personal information. If you are ready to donate blood, you are directly contacting the needy. We believe that the need to submit personal information and phone number to strangers has been the main hindrance to the popularity of the existing apps.</p>
      </div>
  </div>
  <br>
  <div class="card">
      <div class="card-body">
        <p class="main-des">We hope that LIFE will be the solution to India’s blood needs❣️</p>
      </div>
  </div>

</div>

<br><br>
